.footer2 {
  /* height: 5rem; */
  /* display: flex; */
  /* align-items: center; */
  /* position: fixed; */
  /* justify-content: space-between; */
  /* background-color: rgba(255, 255, 255, 0.747); */
  /* background-color: rgb(0, 0, 0); */
  /* margin: auto; */
  color: white;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}

.footer h3 {
  color: white;
  font-size: 34px;
  line-height: 43.4px;
}

.footer i {
  color: #00ff0a;
}

h3.green {
  color: #00ff0a;
}

.green {
  color: #00ff0a;
}

.footer a,
.footer a:hover,
.footer a.active,
.gooter a:active {
  text-decoration: none;
  color: #00ff0a;
}

a.stranka {
  color: white;
}

.biela {
  background-color: white;
}
